---
layout: default
---

<div class="head1">
    <div class="head1-container">Новое в блоге</div>
</div>
<div class="main-articles">
    <div class="main-articles__wrap line">
        {% for post in site.posts limit:4 %}
        {% include post-card.html %}
        {% endfor %}
        <!-- <div class="main-articles__btn"><a href="all-notes" class="btn">Все статьи</a></div> -->
    </div>
</div>

<div class="head1">
    <div class="head1-container">Напишите мне</div>
</div>
<div class="main-callback">
    <div class="main-callback__wrap line">
        <div class="main-callback__descript">
            <p class="main-callback__title">Напишите мне</p>
            <p>Если вы хотите задать вопрос, дать совет, лично что-то прокоментировать, а так же заказать верстку лэндинга, сайта и т.д. заполните, пожалуйста, форму.</p>
        </div>
        <script type="text/javascript">var submitted=false;</script>
        <iframe onload="if(submitted) {window.location='http://';}" style="display:none;" id="hidden_iframe" name="hidden_iframe"></iframe>
        <form class="main-callback__form callback" onsubmit="submitted=true;" target="hidden_iframe" id="ss-form" method="POST" action="https://docs.google.com/forms/d/1Lr91fyPbjtniAyOXhFmha-jp4r1nsnKq9FwllCl0lok/formResponse">
            <input placeholder="Ваше имя *" type="text" title="" required="" aria-required="true" aria-label="Ваше имя  " dir="auto" id="entry_1322216825" class="ss-q-short callback__inp" value="" name="entry.1322216825">
            <input placeholder="E-mail *" type="e-mail" title="" required="" aria-required="true" aria-label="E-mail  " dir="auto" id="entry_2140367745" class="ss-q-short  callback__inp" value="" name="entry.2140367745">
            <input placeholder="Город" type="text" title="" aria-label="Город  " dir="auto" id="entry_1565367951" class="ss-q-short  callback__inp" value="" name="entry.1565367951">
            <textarea placeholder="Ваш комментарий *" required="" aria-required="true" aria-label="Ваш комментарий  " dir="auto" id="entry_1716195271" class="ss-q-long  callback__textarea" cols="0" rows="8" name="entry.1716195271"></textarea>
            <input type="hidden" value="[,,&quot;-5465193309207296806&quot;]
            " name="draftResponse">
            <input type="hidden" value="0" name="pageHistory">

            <input type="hidden" value="0" name="fvv">


            <input type="hidden" value="-5465193309207296806" name="fbzx">

            <button type="submit" class="callback__btn btn btn_b">Отправить</button> 
        </form>

    </div>
</div> 
