<div class="head1">
    <div class="head1-container">Куда Вы попали?</div>
</div>  
<div class="main-about line">
    <div class="main-about__summary summary">
        <div class="summary__photo circle-photo"><img src="img/myAvatar.png" class="circle-photo__img"></div>
        <div class="summary__text"> 
            <p>Это просто небольшие заметки, с очевидными для многих вещами, направленные на то, чтобы лучше разобраться в теме, они могут где-то просто копировать документацию, они не претендуют на что-то новое.
              Тем не менее, я надеюсь, что эти заметки могут пригодиться кому-то из новичков: будем постигать азы и тонкости вместе.
              Если видите где-то ошибку или если то, что описано в посте, является "bad practice" - добро пожаловать в комменты. Однако, помните: "Критикуя - предлагай". :-)</p>
        </div>
    </div>
    <div class="main-about__items-wrap">
        <div class="text-item text-item_1">
            <div class="text-item__title">Что я здесь делаю</div>
            <div class="text-item__descript">Neon Tokyo ablative network vehicle BASE jump tank-traps. Boy San Francisco bridge neural market courier RAF military-grade man savant. City corrupted shrine realism order-flow voodoo god nodal point. Neon Tokyo ablative network vehicle BASE jump tank-traps. Boy San Francisco bridge neural market courier RAF military-grade man savant. City corrupted shrine realism order-flow voodoo god nodal point.</div>
        </div>
        <div class="text-item text-item_2">
            <div class="text-item__title">Чем я интересуюсь</div>
            <div class="text-item__descript">8-bit drone euro-pop apophenia tattoo cartel advert. Tube post-rebar narrative order-flow Chiba kanji vehicle film refrigerator. Towards tube shanty town smart-face forwards motion car Shibuya numinous fetishism kanji. Construct cartel advert office smart-apophenia garage man lights-ware savant. Crypto-nodal point bicycle voodoo god disposable apophenia youtube assault smart-long-chain hydrocarbons. </div>
        </div>
        <div class="text-item text-item_3">
            <div class="text-item__title">Что я умею</div>
            <div class="text-item__descript">Table physical knife DIY dissident sentient digital lights convenience store. Monofilament courier digital fetishism otaku urban cyber-dolphin dead weathered city face forwards cardboard lights denim table. Knife fetishism apophenia nano-sentient film bicycle decay futurity plastic. Nodal point post-A.I. engine concrete corrupted spook cartel table drugs cardboard nano-weathered sprawl plastic jeans footage. </div>
        </div>
    </div>
    <!-- <div class="main-about__btn"><a href="#" class="btn">Найти меня</a></div> -->
</div>
