<!-- <footer class="site-footer"> -->

  <!-- <div class="wrapper"> -->

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <!-- <div class="footer-col-wrapper"> -->
      <!-- <div class="footer-col footer-col-1"> -->
        <!-- <ul class="contact-list"> -->
          <!-- <li>{{ site.title }}</li> -->
          <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
        <!-- </ul> -->
      <!-- </div> -->

      <!-- <div class="footer-col footer-col-2"> -->
        <!-- <ul class="social-media-list"> -->
          <!-- {% if site.github_username %} -->
          <!-- <li> -->
            <!-- {% include icon-github.html username=site.github_username %} -->
          <!-- </li> -->
          <!-- {% endif %} -->

          <!-- {% if site.twitter_username %} -->
          <!-- <li> -->
            <!-- {% include icon-twitter.html username=site.twitter_username %} -->
          <!-- </li> -->
          <!-- {% endif %} -->
        <!-- </ul> -->
      <!-- </div> -->

      <!-- <div class="footer-col footer-col-3"> -->
        <!-- <p>{{ site.description }}</p> -->
      <!-- </div> -->
    <!-- </div> -->

  <!-- </div> -->

  <!-- </footer>  -->
  <div class="footer">
      <p class="footer__copy">Liudmila Khotina &copy; 2016</p>
      <div class="footer__soc soc">
          <a href="https://www.facebook.com/{{ site.facebook_username }}" class="soc__item soc__item_fb" target="_blank" rel="noopener"></a>
          <a href="https://twitter.com/{{ site.twitter_username }}" class="soc__item soc__item_tw" target="_blank" rel="noopener"></a>
          <a href="mailto:{{ site.email }}" class="soc__item soc__item_mail"></a>
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="soc__item soc__item_rss"></a>
      </div>
  </div>
 <!-- <div>Icons made by <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
