<div class="header">
    <div class="mobile-btn" title="Меню"></div>
    <div class="logo"><a href="{{ site.url }}"><img src="{{ site.imgurl }}logo.png" alt="Treancycle"></a></div>
    <ul class="top-menu">
        <li class="top-menu__item"><a class="link link_inherit" href="/">Главная</a></li>
        <li class="top-menu__item"><a class="link link_inherit" href="{{ site.url }}css-notes">Верстка</a></li>
        <li class="top-menu__item"><a class="link link_inherit" href="{{ site.url }}js-notes">JavaScript</a></li>
        <li class="top-menu__item"><a class="link link_inherit" href="{{ site.url }}linux-notes">Linux</a></li>
        <li class="top-menu__item"><a class="link link_inherit" href="{{ site.url }}other-notes">Разное</a></li>
    </ul>
</div>   
