<div class="header">
    <div class="logo"><a href="{{ site.url }}"><img src="{{ site.imgurl }}logo.png" alt="Treancycle"></a></div>
    <div class="top-menu">
        <ul class="top-menu-wrapper">
            <li class="top-menu-item"> <a href="/">Главная</a></li>
            <li class="top-menu-item"><a href="{{ site.url }}css-notes">Верстка</a></li>
            <li class="top-menu-item"><a href="{{ site.url }}js-notes">JavaScript</a></li>
            <li class="top-menu-item"><a href="{{ site.url }}linux-notes">Linux</a></li>
            <li class="top-menu-item"><a href="{{ site.url }}other-notes">Разное</a></li>
        </ul>
    </div>
</div>   
