<div id="menu">
    <ul class="mobile-menu">
        <li class="mobile-menu__title">Меню</li>
        <li class="mobile-menu__item"><a class="link link_inherit link_block" href="/">Главная</a></li>
        <li class="mobile-menu__item"><a class="link link_inherit link_block" href="{{ site.url }}css-notes">Верстка</a></li>
        <li class="mobile-menu__item"><a class="link link_inherit link_block" href="{{ site.url }}js-notes">JavaScript</a></li>
        <li class="mobile-menu__item"><a class="link link_inherit link_block" href="{{ site.url }}linux-notes">Linux</a></li>
        <li class="mobile-menu__item"><a class="link link_inherit link_block" href="{{ site.url }}other-notes">Разное</a></li>
    </ul>
</div> 
