body {


    font-family: "Roboto Light";
    color: $default-txt;
    overflow-y: scroll;
}

#wrapper {
    width: 100%;
    overflow: hidden;
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

.line {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0;
}

p {
    margin: 0 0 24px;
}

a {
    color: $links;
}

table.table {
    width: 100%;
    margin-bottom: 24px;
    box-sizing: border-box;
    tr {
        th {
            border: 1px solid #c4c4c4;
            background: #f1f1f1;
            padding: 6px;
        }
        td {
            border: 1px solid #c4c4c4;
            padding: 6px;
        }
    }
}
