
$default-btn: #2095CB;
$done-btn: #20C985;
$cancel-btn: #C68989;

$default-txt: #4d4d4d;
$highlight-txt: #2095CB;

$links: #2CA37B;

$menu: #a4a4a4;
$menu-act: #1bbc9b;

/// breackpoints
/* $xlg: 1280px; */
/* $lg: 1000px; */
/* $md: 800px; */
/* $sm: 640px; */
/* $xsm: 320px; */
