.link {
    // inherit
    &_inherit {
        color: inherit;
        text-decoration: inherit;
    }
    // block
    &_block {
        display: block;
        width: inherit;
        height: inherit;
    }
}
