.logo {
    display: flex;
    margin: 10px 0;
    height: 50px;
    @include breakpoint(sm) {
        max-width: 80%;
        a {
            img {
                transform: translateY(54%);
                margin-top: -50%;
                max-width: 100%;
                height: auto;
            }
        }
    }
}
