.top-menu {
    float: right;
    padding: 35px 0;
    .top-menu-wrapper {
        margin: 0;

        list-style: none;
        .top-menu-item {
            float: left;

            margin-left: 40px;
            a {
                display: block;
                font-family: 'Roboto Light';
                // font-weight: 600;
                font-size: 20px;
                line-height: 20px;

                color: #a4a4a4;
                text-decoration: none;
                text-transform: uppercase;
                outline: none;
                position: relative;
                &:visited {
                    color: #a4a4a4;
                }
                &:hover, &.act {
                    color: #1bbc9b;
                    position: relative;
                    &:after {
                        content: "";
                        display: block;
                        width: 110%;
                        height: 5px;
                        background: #1bbc9b;
                        position: absolute;
                        top: -35px;
                        left: -5%;
                        right: -5%;
                    }
                }
                &:active {
                    color: lighten(#1bbc9b, 20%);
                }
                &.act {
                    color: #1bbc9b;
                }
            }
        }
    }   
}
